<div class="col mb-4">
    <div class="card animated fadeIn fast">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cargo.car_nombre}}</h5>
            <p class="card-text">{{cargo.car_salario}}</p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button (click)="verCargo()" type="button" class="btn btn-outline-primary btn-block"> Ver más</button>
        </div>
    </div>
</div>