<div class="card">
    <h5 class="card-header">Cargo</h5>
    <h4> </h4>
    <div class="card-body">
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="Nomre">Nombre:</label>
                        <input type="text" name="Nombre" required id="Nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Descripcion">Descripcion:</label>
                        <input type="text" name="Descripcion" required id="Descripcion" class="form-control" placeholder="Descripcion">
                    </div>
                </div>
                <div class="form-group col-md-6">

                    <div class="form-group col-md-6">
                        <label for="Estado">Estado:</label>
                        <input type="text" name="Estado" id="Ape" required class="form-control" placeholder="Estado">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Horario">Horario:</label>
                        <input type="text" name="Horario" required id="Horario" class="form-control" placeholder="Horario">
                    </div>
                    <button type="submit" class="btn btn-primary float-xl-none
                    t mb-5">Guardar</button>
                </div>

            </div>
        </form>
    </div>
</div>